---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import ModelEntry from "../components/ModelEntry.astro";
---

<Layout title="Gump's Gulch">
  <Header/>
  <main>
    <ModelEntry></ModelEntry>
  </main>
</Layout>