---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import ModelEntry from "../components/ModelEntry.astro";
import ScrollSpinners from "../components/ScrollSpinners";
---

<Layout title="Gump's Gulch">
  <Header />
  <main>
    <ModelEntry modelFile="MansonFish-Cleaned.glb" title="Manson Fish" />
    <ModelEntry modelFile="GumpRat.glb" title="Gump Rat" />
  </main>
  <ScrollSpinners client:only />
</Layout>
