---
import Layout from "../layouts/Layout.astro";
import Introduction from "../components/Introduction.astro";
import Header from "../components/Header.astro";
---

<Layout title="Gump's Gulch">
  <Header/>
  <main>
    <Introduction />
    <Introduction />
    <Introduction />
    <Introduction />
    <Introduction />
    <Introduction />
    <Introduction />
    <Introduction />
  </main>
</Layout>