---
import Layout from "../layouts/Layout.astro";
import Gump from "../components/Gump.astro";
import Education from "../components/Education.astro";
import Experience from "../components/Experience.astro";
---

<style>
  h1 {
    font-size: 3rem;
    font-weight: 1;
    color: #db3024;
    margin: auto;
    font-family: "DivineLight";
    text-align: center;
  }
</style>

<Layout title="Gump's Gulch">
  <header class="welcome">
    <h1>Welcome to <span class="text-dgreen-500">Gump's Gulch</span></h1>
    <br />
    <a href="./home/">home</a>
    <a href="./projects/">projects</a>
    <a href="./rants/">rants</a>
  </header>
  <main>
    <Gump />
    <Education />
    <Experience />
  </main>
</Layout>
