---
import Layout from "../layouts/Layout.astro";
import Gump from "../components/Gump.astro";
import Education from "../components/Education.astro";
import Experience from "../components/Experience.astro";
---
<Layout title="Gump's Gulch">
  <header class="welcome">
    <h1 class="text-diviner-500">Welcome to <span class="text-dgreen-500">Gump's Gulch</span></h1>
    <br />
    <a href="./home/">home</a>
    <a href="./projects/">projects</a>
    <a href="./rants/">rants</a>
  </header>
  <main>
    <Gump />
    <Education />
    <Experience />
  </main>
</Layout>
