---
import Layout from "../layouts/Layout.astro";
import Introduction from "../components/Introduction.astro";
import Header from "../components/Header.astro";
import ScrollSpinners from "../components/ScrollSpinners";
---

<Layout title="Gump's Gulch">
  <Header/>
  <main>
    <Introduction />
    <Introduction />
    <Introduction />
    <Introduction />
    <Introduction />
    <Introduction />
    <Introduction />
    <Introduction />
  </main>
  <ScrollSpinners client:only />
</Layout>
