<div class="container">
  <h1 class="text-divineg-500">Experience:</h1>
  <h2>Enaimco</h2>
  2022-Present Currently working as a full stack developer at enaimco. My main focus is developing
  a 3D web enviroment utilizing three js, but I also do many other tasks on the front and back end 
  as well. 
  <h2>Ednatech</h2>
  2020-2021 Previously worked at eDNAtech for a work term throughout my degree and received 
  a pass with distinction at the end of the term. While there I wrote code for there main 
  data pipeline for eDNA metacoding analysis. I also gained more experience scripting in 
  python and R for smaller analysis tasks, as well as containerizing portions of the pipeline.
</div>
