<div class="container">
  <h1 class="text-diviner-500">Experience:</h1>
  <h2>Enaimco</h2>
  2022-Present Currently working as a full stack developer at enaimco.
  <h2>Ednatech</h2>
  2020-2021 Previously worked at eDNAtech for a work term
</div>
