---
import HomeCard from "./HomeCard.astro";
---
<HomeCard>
    <div class="container">
        <h1> About Me: </h1>
		<hr />
        Hello, I'm Ethan. Welcome! I'm a software developer originally from NB now working in St.John's. Go ahead and enjoy the site, see what you can find :)
    </div>
</HomeCard>