<div class="container">
  <h1 class="text-divineg-500">About Me:</h1>Hello, I'm Ethan. Welcome! I'm a software developer
  originally from NB now living and working in St.John's. Go ahead and enjoy the site, see
  what you can find :)<br />
  <br />my best friend: <a href="https:\\keenannicholson.me">Keborp</a>
</div>
