<header class="welcome">
  <h1 class="text-diviner-500">
    Welcome to <span class="text-dgreen-500">Gump's Gulch</span>
  </h1>
  <br />
  <a class="headerlink" href="/">home</a>
  <a class="headerlink" href="/games/">games</a>
  <a class="headerlink" href="/3d/">3d</a>
  <a class="headerlink" href="/projects/">projects</a>
  <a class="headerlink" href="/rants/">rants</a>
  <a class="headerlink" href="/stonks">stonks</a>
</header>
