---
import ModelViewer from "./ModelViewer";
const { modelFile, title } = Astro.props;
---

<div class="model-container">
  <h1 class="text-divineg-500">{title}</h1>
  <ModelViewer modelFile={modelFile} client:only />
</div>
