@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("/public/fonts/DivineLight.woff");

@font-face {
    font-family: 'DivineLight';
    src: url('fonts/DivineLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}