@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DivineLight";
  src: url("fonts/DivineLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer base {
  html {
    font-family: "DivineLight";
  }

  a {
    @apply text-bblue-200;
  }

  h1 {
    @apply text-5xl;
  }
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  margin-top: 0;
  overflow-y: scroll;
  overflow: hidden;
  height: 100vh;
}

body {
  margin: 0;
  height: 100vh;
  overflow: auto;
}

.wolfback {
  background-image: url("/assets/images/doom/bluebrick.png");
}

.container {
  display: block;
  justify-content: center;
  align-items: center;
  background-image: url("/assets/images/cruelty/crungewallpaper.png");
  background-size: contain;
  min-height: 50%;
  max-width: 80%;
  margin: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-style: ridge;
  border-color: #5f5536;
  border-width: 1ch;
  margin-top: 5ch;
  font-size: 3ch;
  font-family: "DivineLight";
}

.welcome {
  margin-top: 3vh;
  display: block;
  justify-content: center;
  align-items: center;
  background-image: url("/assets/images/cruelty/crungewallpaper.png");
  min-height: 10ch;
  max-width: 120ch;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-style: ridge;
  border-color: #5f5536;
  border-width: 2ch;
}

.headerlink {
  font-size: 30px;
  color: #56EEF4;
}

.headerlink:hover {
  color: #5f5536;
}
