---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
  *, ::after, ::before {
	box-sizing: border-box;
  }
  html {
	margin-top: 0;
	overflow-y: scroll;
	overflow: hidden;
	height: 100vh;
  }
  body {
	margin: 0;
	height: 100vh;
	overflow: auto;
  }
</style>
